<div class="container">
  <div>
    <h3>Listado de Materias</h3>
      <% if current_user.role == "student" %>
        <% @assignatures.each do |assignature| %>
          <h3><%= link_to assignature.name, assignature_path(assignature) %></h3>
          <p>Docente: <%= assignature.teacher.last_name %></p>
        <% end %>
      <% else %>
        <% @assignatures.each do |assignature| %>
          <h3><%= assignature.name %></h3>
        <% end %>
      <% end %>
  </div>
</div>

