<nav class="sidebar">
  <div class="sidebar-head">
    <div class="head">
      <a class="head-link">
        <input type="image" class="head-img" id="btn_open" src="<%= asset_path 'favicon.png' %>">
        <span class="head-text">Cardenal Newman</span>
      </a>
    </div>
  </div>
  <div class="sidebar-info">
     <img class="info-avatar" src="https://randomuser.me/api/portraits/women/67.jpg">
     <span class="info-name ">Juan Martinez</span>
     <span class="info-type">Estudiante</span>
  </div>
  <div class="event-header">
    <a class="nav-link" >
      <i class="link-bell far fa-bell"></i>
      <span class="link-text">Proximos Eventos</span>
    </a>
  </div>
  <div class="event">
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" >
        </a>
      </li>
    </ul>
  </div>
</nav>