<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" id="clase-tab" class="tab-underlined active">Clase</a>
  </li>
  <li>
    <a href="#" id="video-tab" class="tab-underlined">Video</a>
  </li>
  <li>
    <a href="#" id="ejercicio-tab" class="tab-underlined">Ejercicio</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="clase" role="tabpanel" aria-labelledby="clase-tab">.hola..</div>
  <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">.video</div>
  <div class="tab-pane fade" id="ejercicio" role="tabpanel" aria-labelledby="ejercicio-tab">ejercicio.</div>
</div>  