<h1>  Aca se listan todas las tareas</h1>

 
<div class="container">
  <div id="app-index" id="title">
    <h2 class="card-appointment d-flex justify-content-between"></h2>  
  </div>

  
  <% @homework.each do |home| %>
    <h4> Assignature: <%#= home.lesson.assignature.name%>   </h4> 
    <h4> Lesson: <%#= home.lesson.name%></h4> 
    <p> <%= link_to home.content, homework_path(home.id) %> </p>
  <% end %>

</div>
