<h1>  Aca se listan todas las tareas</h1>

 
<div class="container">
  <div id="app-index" id="title">
    <h2 class="card-appointment d-flex justify-content-between"></h2>  
  </div>

  <%# @homeworks.group_by(&:assignature).each  do |assignatures, homeworks  | %> 
  <% @assignatures.each do | assignature|  %>
  <h4> <%= assignature.name %> </h4>
    <% assignature.lessons.each do |lesson| %>
    <h4><%= lesson.name %></h4>
      <% lesson.homeworks.each do |home| %>
        <li><p> <%= link_to home.name, homework_path(home.id)  %> </p></li>
      <% end %>
    <% end %>
  <% end %>

</div>


