<nav aria-label="breadcrumb ">
  <ol class="breadcrumb "> <%#main-container_home %>
    <li class="breadcrumb-item"><%= link_to "Materias", assignatures_path%></li>
    <li class="breadcrumb-item"><%= link_to "Tareas", assignature_homeworks_path(@homework.lesson.assignature_id)%></li>
    <li class="breadcrumb-item active" aria-current="page">Tareas</li>
  </ol>
</nav>

<div class="container">
  <% if @homework.type_off == "homework" %>
  <div class="homework">
    <%= render 'shared/homework' %>
  </div>
  <% else %>
    <div class="flashcard">
      <%= render 'shared/flashcard' %>
      <%#=link_to "Volver", assignature_homeworks_path(@homework.lesson.assignature_id), class:"btn btn-success" %>
    </div>
  <% end %>
</div>

