.main-container_home{
  background-color: white;
  border-radius: 8px;
  padding: 30px 45px;

  h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 27px;
    padding-left: 0px;
  }

  .assigment{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

  }
}


.cards_home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.card-title {
  background-color: white;
  border-radius: 8px;
  padding-left: 0px;
}


.fa-print{
  color: #FADB39;
  font-size: 20px ;
  padding-right: 15px;
}


.fa-file-signature{
  color: #FADB39;
  padding-right: 15px;
  font-size: 20px ;
}

.fa-file{
  color: #FADB39;
  padding-right: 15px;
  font-size: 20px ;
}

.fa-arrow-circle-right{
  padding-right: 15px;
  color: #9FDBFC;
  font-size: 20px ;
  margin-bottom: 0;
}

.btn-outline-success{
  border-radius: 10px;
}


h3{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  
  
}

.breadcrumb{
  font-size: 12px;
  padding: 0;
}


#h_homework:hover{
  border-left: 4px solid  #FADB39;
  padding-left: 8px;
  line-height: 3px;
}

#h_flashcard:hover{
  border-left: 4px solid  #9FDBFC;
  align-items: center;
  padding-left: 8px;
}






// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards_home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards_home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards_home {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards_home {
    grid-template-columns: 1fr 1fr;
  }
}