.homework {
  /* Títulos */
    .carda {
        color: #1DBD92!important;
    }

    h1 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 44px;
        display: flex;
        align-items: center;
        color: #000000;
    }

    h2 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #000000;
    }

    h3 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        align-items: center;

        color: #212037;
    }

    .h45 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 15px!important;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #000000;
    }

}