
:root {
  --sizesidebar: 5rem;
}

body{
  background-color: #eceff1;
}

main{
  margin-left: var(--sizesidebar);
  width:  calc(100%-var(--sizesidebar));
  padding: 1rem;
}

.sidebar{
  font-size: 14px;
  width: var(--sizesidebar);
  height: 100vh;
  position: fixed;
  background-color: white;
  transition: 250ms ease;
  align-items: center;
}

.sidebar-head{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sidebar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item{
  width: 100%;
}

.head{
  width: 100%;
}

.nav-link{
  display:flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.head-link{
  display:flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.link-text{
  margin-left: 1rem;
  margin-left: auto;
  display: none;
}

.head-text{
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-left: auto;
  display: none;
}

.head-img{
  width: 3rem;
  margin-left: 1rem;
}

.head-link .link-bell{
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.nav-link .link-bell{
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.info-avatar{
  background-color:#C4C4C4;
  padding: 3px;
  display: block;
  border-radius: 50%;
  border: 4px solid white;
  height: 60px;
  width: 60px;
}

.info-name{
  font-size: 15px;
  font-weight: bold;
  display: none;
}

.info-type{
  font-size: 13px;
  display: none;
}
